<div id="colleges-page">
	<div class="row">
		<div class="col-lg-3">
			<div class="search-field">
				<h3>Advanaced College Search</h3>
				<div class="input-wrapper">
					<label for="name">Name *</label>
					<input type="text" name="school_name" id="school_name" placeholder="School Name" required ng-model="search.email">
				</div>
				<div class="input-wrapper">
					<label for="school_country">Country </label>
					<select name="school_country" id="school_country">
						<option value="">No Preference</option>
						<option value="">United States</option>
						<option value="">Australia</option>
						<option value="">North Korea</option>
						<option value="">Malaysia</option>
						<option value="">Singapore</option>
						<option value="">Japan</option>
					</select>
				</div>
				<div class="input-wrapper">
					<label for="school_degree">Degree Type *</label>
					<select name="school_degree" id="school_degree">
						<option value="">Select Degree Type</option>
						<option value="">Bachelors Degree</option>
						<option value="">Masters Degree</option>
						<option value="">Post Masters Degree</option>
						<option value="">Doctors Degree Research</option>
						<option value="">Doctors Degree Professional</option>
					</select>
				</div>
				<div class="input-wrapper">
					<label for="school_major">Department *</label>
					<select name="school_major" id="school_major">
						<option value="">Select a Department</option>
						<option value="">Agriculture & Related Sciences</option>
						<option value="">Trades & Applied Sciences</option>
						<option value="">Arts, Design & Architecture</option>
						<option value="">Business Management & Marketing</option>
						<option value="">Computer Science & Information Technology</option>
						<option value="">Education</option>
						<option value="">Engineering</option>
						<option value="">Environmental Studies & Natural Resources</option>
						<option value="">Parks, Recreation, Leisure & Fitness Studies</option>
						<option value="">Liberal Arts & Humanities</option>
						<option value="">Communication, Journalism & Related Programs</option>
						<option value="">Legal Professions & Studies</option>
						<option value="">Biology, Medicine & Health Professions</option>
						<option value="">Natural Sciences & Mathematics</option>
						<option value="">Social Sciences</option>
					</select>
					<button class="search_button">SEARCH</button>
				</div>
			</div>
		</div>
		<div class="col-lg-9">
			<div class="region-based">
				<div class="regions-white-bg">
					<h3>Find a school based on region</h3>
					<div class="row">
						<div class="col-lg-2 col-xs-6">
							<a href="" class="search-flags search-flag-us">United States</a>
						</div>
						<div class="col-lg-2 col-xs-6">
							<a href="" class="search-flags search-flag-uk">United Kingdom</a>
						</div>
						<div class="col-lg-2 col-xs-6">
							<a href="" class="search-flags search-flag-canada">Canada</a>
						</div>
						<div class="col-lg-2 col-xs-6">
							<a href="" class="search-flags search-flag-aus">Australia</a>
						</div>
						<div class="col-lg-2 col-xs-6">
							<a href="" class="search-flags search-flag-ger">Germany</a>
						</div>
						<div class="col-lg-2 col-xs-6">
							<a href="" class="search-flags search-flag-austria">Austria</a>
						</div>


						<div class="col-lg-2 col-xs-6">
							<a href="" class="search-flags search-flag-south-korea">South Korea</a>
						</div>
						<div class="col-lg-2 col-xs-6">
							<a href="" class="search-flags search-flag-japan">Japan</a>
						</div>
						<div class="col-lg-2 col-xs-6">
							<a href="" class="search-flags search-flag-singapore">Singapore</a>
						</div>
						<div class="col-lg-2 col-xs-6">
							<a href="" class="search-flags search-flag-my">Malaysia</a>
						</div>
						<div class="col-lg-2 col-xs-6">
							<a href="" class="search-flags search-flag-malta">Malta</a>
						</div>
						<div class="col-lg-2 col-xs-6">
							<a href="" class="search-flags search-flag-poland">Poland</a>
						</div>

						<div class="col-lg-2 col-xs-6">
							<a href="" class="search-flags search-flag-latvia">Latvia</a>
						</div>
						<div class="col-lg-2 col-xs-6">
							<a href="" class="search-flags search-flag-china">China</a>
						</div>
					</div>
				</div>
			</div>
			<div class="major-based">
				<div class="majors-white-bg">
					<h3>Find a school based on major</h3>
					<div class="row dept-container" >
						<div class="">
							<a href="" class="search-majors">
								<img src="client/app/assets/majors/agriculture.png" width="70" alt=""><br> Agriculture & Related Sciences
							</a>
						</div>
						<div class="">
							<a href="" class="search-majors">
								<img src="client/app/assets/majors/art.png" width="70" alt=""><br> Arts, Design & Architecture
							</a>
						</div>
						<div class="">
							<a href="" class="search-majors">
								<img src="client/app/assets/majors/health.png" width="70" alt=""><br> Biology, Medicine & Health Professionals
							</a>
						</div>
						<div class="">
							<a href="" class="search-majors">
								<img src="client/app/assets/majors/suitcase.png" width="70" alt=""><br> Business Management & Marketing
							</a>
						</div>
						<div class="">
							<a href="" class="search-majors">
								<img src="client/app/assets/majors/communication.png" width="70" alt=""><br> Communication, Journalism & Related Programs
							</a>
						</div>
						<div class="">
							<a href="" class="search-majors">
								<img src="client/app/assets/majors/computer.png" width="70" alt=""><br> Computer Science & Information Technology</a>
						</div>
						<div class="">
							<a href="" class="search-majors">
								<img src="client/app/assets/majors/book.png" width="70" alt=""><br> Education
							</a>
						</div>
						<div class="">
							<a href="" class="search-majors">
								<img src="client/app/assets/majors/setting.ico" width="70" alt=""><br> Engineering
							</a>
						</div>
						<div class="">
							<a href="" class="search-majors">
								<img src="client/app/assets/majors/environment.png" width="70" alt=""><br> Environmental Studies & Natural Resources
							</a>
						</div>
						<div class="">
							<a href="" class="search-majors">
								<img src="client/app/assets/majors/law.jpg" width="70" alt=""><br> Legal professions & Studies
							</a>
						</div>
						<div class="">
							<a href="" class="search-majors">
								<img src="client/app/assets/majors/humans.png" width="70" alt=""><br> Liberal Arts & Humanities
							</a>
						</div>
						<div class="">
							<a href="" class="search-majors">
								<img src="client/app/assets/majors/science.png" width="70" alt=""><br> Natural Sciences & Mathematics
							</a>
						</div>
						<div class="">
							<a href="" class="search-majors">
								<img src="client/app/assets/majors/fitness.png" width="70" alt=""><br> Fitness Studies & Parks, Recreation Leisure
							</a>
						</div>
						<div class="">
							<a href="" class="search-majors">
								<img src="client/app/assets/majors/social.png" width="70" alt=""><br> Social Sciences
							</a>
						</div>
						<div class="">
							<a href="" class="search-majors">
								<img src="client/app/assets/majors/tools1.png" width="70" alt=""><br> Trades & Applied Sciences
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--s7K@z2m8-->