<div class="college-view">
	<h1 class="text-center" style="margin-bottom: 30px;">Study in South Korea</h1>
	<div class="container-fluid">
		<div class="row main-top-div">
			<!--<div class="col-sm-4" style="padding:0;">
				
			</div>-->
			<div class="col-sm-12">
				<img src="client/app/assets/universities/kr1.jpg" alt="" style=" width: 30%;margin: 20px;" class="img-responsive pull-left">
				<h3>Education system</h3>
				<p>Korea’s higher education institutions include universities, industrial universities, junior colleges, universities of education, open universities, technological universities, and other miscellaneous institutions. Korean universities are divided according to the body that established them, ie. into national universities established and run by the Korean Government, public universities established and run by local governments, and private universities established and run by incorporated educational institutions. </p><br>

				<h4>1. Universities</h4>
				<p>The length of the courses are 4~6 years. Medicine, oriental medicine and dentistry each require 6 years of study. There are degree courses in thirty different majors including literature, law, theology, political science, economics, business administration, public administration, pedagogy, library science, science, engineering, dentistry, oriental medicine, pharmacy, nursing, agriculture, veterinary medicine, fishery science, fine arts, music, etc. The total number of credits required for graduation generally is 140 credits. Undergraduate </p>

				<h4>2. Junior Colleges</h4>
				<p>Junior colleges are organized in terms of various majors such as Humanities and Social Sciences, Natural Sciences, Engineering, Performing Arts and Physical Education, Health, etc., and have a minimum course length of two or three years. 2 year junior college requires 80 credits for graduation and 3 year junior college requires 120 credits. A diploma from the junior college is conferred on those who have completed the course as set out in the school regulations. Those who have graduated from junior colleges may enroll in universities, industrial universities or open universities.</p>

				<h4>3. Graduate Schools</h4>
				<p>Graduate schools are designed to pursue the objectives of higher education more profoundly, while cultivating both the ability to guide academic research and creative talent. These are divided into generalist graduate schools centered on academic research and specialist graduate schools which are practice-orientated.</p>

				<h4>4. Master’s Course</h4>
				<p>The required course of study for a Master is two years or more. Usually, students are required to obtain 24 credits. After gaining the prescribed credits and passing the set examination, candidates for a Master degree submit a Master thesis which must pass the examination of at least three examiners.</p>

				<h4>5. D Course</h4>
				<p>The required course of study for a Ph. D is three years or more. Usually, students are required to obtain 36 credits. After gaining the prescribed credits and passing the comprehensive examination, candidates for a Ph. D submit a Ph. D thesis which must pass the examination of at least five examiners.</p>

				<h4>6. Post-Doc Course</h4>
				<p>These courses are for continuing research after completion of a Ph. D course. Presently, many Korean universities are inviting post-doc researchers to work on research projects for the BK21 program.</p>

				<h3> Why in South Korea?</h3>
				<p>South Korea has many unique advantages as a study abroad destination. Here are ten reasons why you should consider studying abroad in South Korea.</p>

				<h4>1. Korean Language.</h4>

				<h4>2. Strong Academic Atmosphere</h4>
				<p>South Koreans take education very seriously, particularly higher education. Academics can be competitive, but students treat teachers with respect and are very serious about their education.</p>

				<h4>3. Tae Kwan Do</h4>
				<p>This particular variety of martial arts originated in South Korea and is the country’s national sport today.</p>

				<h4>4. Korean Food</h4>
				<p>Though Korean food has some elements in common with other Asian cuisine, the combinations, ingredients, and unique flavors produce entirely new dishes.</p>

				<h4>5. Friendly People</h4>
				<p>Korean people are friendly and helpful. Though there are cultural differences when it comes to etiquette and interpersonal relationships, this should not be a challenge to students in the country.</p>

				<h4>6. Korean Amusement Parks</h4>
				<p>Amusement parks are fun points of interest for travelers of all ages, but they are especially popular with high school and college-aged travelers.</p>

				<h4>7. Norebang</h4>
				<p>Karaoke isn’t for anyone, but the unique Korean version of karaoke known as norebang may appeal to more shy participants. Norebang occurs in small private rooms with a group of friends, so you won’t be embarrassed in front of strangers. Norebang is very popular in South Korea.</p>

				<h4>8. Shopping</h4>
				<p>Shopping is a 24/7 activity in South Korea, with shops open day and night. There are shopping centers everywhere, and the goods available span every need, desire, and budget possible.</p>

				<h4>9. Access to Asia</h4>
				<p>While you are in South Korea, take advantage of its proximity to other popular Asian destinations. Many South Korea study abroad partcipants like to travel to China, Japan, and elsewhere before returning home.</p>

			</div>
		</div>
	</div>
	<div class="container-fluid main-second-div">
		<div class="container">
			<div class="row text-center">
				<!--<h2>Public Higher Educational Institutions</h2>-->
				<p style="font-size: 20px;">Edu-Action will help students to receive valuable information about living in Korea, life as a student at your institution, tips on adapting to the culture, and dealing with homesickness. You will also have the opportunity to network with other students, including alumni, current students and future classmates</p>
				<button class="btn btn-primary" ui-sref="home.application.overall">APPLY NOW</button>
			</div>
		</div>
	</div>

	<!--	<div class="container-fluid">
		<div class="row" style="border-bottom: 1px solid #000;">
			<div class="col-sm-8">
				<h3>Intensive shorter tertiary education</h3>
				<p>The distinct advantage that the UK education system has is the fact that the duration of most of the undergraduate honours degrees is 3 years and the taught Masters courses is 1 year. Due to the shorter duration students will be able to save on both tuition fees and living costs and also get a head start on working life as they will graduate earlier.</p>

				<h3>International students support</h3>
				<p>The UK has been welcoming international students from over 100 countries for generations. It has one of the world’s lowest drop-out rates due to a comprehensive support system in place for international students. This includes a dedicated international office, international student societies, planned social activities, academic support and a personal tutor.</p>
			</div>
			<div class="col-sm-4">
				<img src="client/app/assets/universities/usa4.jpg" alt="" class="img-responsive">
			</div>
		</div>
	</div>-->

	<div class="container" style="margin-top: 50px;">
		<h1 class="text-center">Frequently Asked Question</h1>
		<uib-accordion close-others="true">
			<!--<div uib-accordion-group class="panel-default" heading="Support Services for International Students">
				<p>U.S. universities welcome international students for pursuing higher education in USA and have support systems to help students adjust comfortably to life in the U.S. Services at the international student office help students transition to the new environment. Support is offered through the year from organizing orientation programs to assistance with academic writing and building resumes as students get ready to graduate.</p>

			</div>-->

			<div uib-accordion-group class="panel-default" heading="Cost of Studying">

				<p>Like cost of education, living expenses are low in Singapore as compared to other study abroad destinations but it has high standard of living. Your cost of living while studying abroad in Singapore will include your expenses on accommodation, food, groceries, books and travel. While studying in Singapore, you can opt for following accommodation options:</p><br>
				<table class="table table-bordered">
					<tr>
						<th>Type of University </th>
						<th>By Related Subject </th>
						<th>Cost (USD, per semester)</th>
					</tr>
					<tr>
						<td rowspan="8">National University Tuition Fees</td>
						<td rowspan="2">Humanities - related</td>
						<td>Undergrad $2,000 ~ $2,300</td>

					</tr>
					<tr>
						<td>Postgrad. $2,500 ~ $2,700</td>
					</tr>
					<tr>
						<td rowspan="2">Sciences- related</td>
						<td>Undergrad. $2,500 ~ $2,800</td>
					</tr>
					<tr>
						<td>Postgrad. $3,000 ~ $3,300</td>
					</tr>
					<tr>
						<td rowspan="2">Fine Arts- related </td>
						<td>Undergrad. $2,800 ~ $3,000</td>
					</tr>
					<tr>
						<td>Postgrad. $3,500 ~ $3,800</td>
					</tr>
					<tr>
						<td rowspan="2">Medicine- related </td>
						<td>Undergrad. $4,300 ~ $4,400</td>
					</tr>
					<tr>
						<td>Postgrad. $4,000 ~ $5,100</td>
					</tr>


					<tr>
						<td rowspan="8">Private University Tuition Fees </td>
						<td rowspan="2">Humanities - related</td>
						<td>Undergrad $3,000 ~ $3,500</td>

					</tr>
					<tr>
						<td>Postgrad. $3,800 ~ $4,000</td>
					</tr>
					<tr>
						<td rowspan="2">Sciences- related</td>
						<td>Undergrad. $4,000 ~ $5,000</td>
					</tr>
					<tr>
						<td>Postgrad. $5,000 ~ $6,000</td>
					</tr>
					<tr>
						<td rowspan="2">Fine Arts- related </td>
						<td>Undergrad. $4,000 ~ $5,000</td>
					</tr>
					<tr>
						<td>Postgrad. $5,000 ~ $6,000</td>
					</tr>
					<tr>
						<td rowspan="2">Medicine- related </td>
						<td>Undergrad. $5,000 ~ $6,000</td>
					</tr>
					<tr>
						<td>Postgrad. $6,500 ~ $7,000</td>
					</tr>

					<tr>
						<td>Application Fee </td>
						<td colspan="2">$50 ~ $150</td>
					</tr>

					<tr>
						<td>Cost of Korean Language Course</td>
						<td colspan="2">About $1,000 ~ $1,400 for 10 weeks About $800 for 3 weeks 3 $800</td>
					</tr>
					<tr>
						<td>Cost for Dorm </td>
						<td colspan="2">Four person room about $300 ~ $800 (per semester) <br> Two person room about $600 ~ $1,000(per semester) <br> Cost depends on whether meals are included</td>
					</tr>
					<tr>
						<td>Meal Costs </td>
						<td colspan="2">About $300 per month (Eating usually on campus) <br> Cost of one campus meal : $2.50 ~ $3.00</td>
					</tr>
					<tr>
						<td>Monthly Rent </td>
						<td colspan="2">About $300 per month (Deposit $3,000 ~ $5,000)</td>
					</tr>
					<tr>
						<td>Medical Insurance </td>
						<td colspan="2">About $20 per month
						</td>
					</tr>
					<tr>
						<td>Transportation Fees </td>
						<td colspan="2">About $40 per month <br> Subway or City Bus Basic Fare : $0.90 <br> (When using T-Card : $0.80) </td>
					</tr>
					<tr>
						<td>Internet Costs </td>
						<td colspan="2">$30 per month</td>
					</tr>
				</table>
			</div>


			<div uib-accordion-group class="panel-default" heading="Living in South Korea">
				<h3>Accommodation options</h3>
				<p>Accommodation in a university dormitory will usually be the most affordable option available to you as a Masters student in South Korea. The government estimates costs at between ₩320,000 and ₩1,075,000 (roughly equivalent to between $300 and $1000) per semester, varying depending on the number of individuals sharing a dormitory and the provision of other services such as catering. <br><br> Private accommodation will be more expensive: as much as ₩20,000,000 ($18,000) per term with substantial personal deposits also be required by some landlords. One alternative form of private accommodation is the Hasuk Jip, a form of boarding house. These can cost as little as ₩800,000 ($750) a month, but prices and facilities are very variable.</p>

				<h3>General living costs</h3>
				<p>The majority of South Korea is relatively inexpensive to live in, though prices in Seoul can be substantially higher than in other regions. <br><br> Most universities will offer affordable catering on their campuses and a meal from these facilities can cost as little as ₩2,600 ($2.50). In general, South Korea’s native cuisine will cost less than food from western restaurant franchises, but either should be affordable. The South Korean government estimates the cost of food at roughly ₩300,000 ($300) per month if predominantly using university catering.<br><br> Access to South Korea’s world-leading high-speed internet services will usually cost around ₩420,000 ($30) per month.</p>


			</div>


			<div uib-accordion-group class="panel-default" heading="Visa Applications">
			<h3>Procedures for Getting a Visa</h3>
				<p>After you have received acceptance from a regular educational program in Korea as a regular student or a language student, you must get a student visa by submitting the documents required for entry into Korea. As periods of stay can vary depending on the program, one should check related regulations concerning each one.</p><br>

				<h3>Visa for Regular Educational Program (D-2)</h3>
				<h3>Eligibility</h3>
				<p>Persons who intend to receive education in a standard course (Bachelors, Masters, Ph. D) or research specialist fields in junior colleges, universities, graduate schools established according to the Korean Education Law, or academic research institutions established under the provisions of a special law of a status as least as high as a junior college.</p>

				<h3>How to apply for visa & application requirements</h3>
				<p>Applicant submits visa application documents to an embassy or consulate of the Republic of Korea</p>
				<ul>
					<li>Valid Passport</li>
					<li>Visa application form or Certificate for Recognition of Visa Issuance</li>
					<li>Processing Fee: Amount corresponding to USD 30 (Single-entry) or USD 50 (Multiple-entry)</li>
					<li>Admission from the school with its Recognition of the student’s aptitude for study and financial ability</li>
					<li>Most recent certificate of school record</li>
					<li>Verification of Account Balance</li>
					<li>Family Registry (Applies to Chinese only; Must include whole family)</li>
					<li>In case of getting a recognition of visa issuance or visa issuance recognition number, you only need to submit a valid passport, visa application form, and the visa issuance recognition (or number)</li>
				</ul>
			</div>


			<div uib-accordion-group class="panel-default" heading="Pre Departures">
				<p>Edu-Action will help students to receive valuable information about living in Korea, life as a student at your institution, tips on adapting to the culture, and dealing with homesickness. You will also have the opportunity to network with other students, including alumni, current students and future classmates. <br><br>

Our services partners will advise you on ticketing, foreign exchange, travel insurance, opening an Korean Bank account and international calling cards.</p>


			</div>
		</uib-accordion>
	</div>
	<!--
	<div class="container-fluid main-second-div-2">
		<div class="container">
			<div class="row text-center">
				<h2>Gateway to Europe</h2>
				<p>The UK is an ideal base from which students can explore the rest of Europe. The excellent road, rail and air links allow inexpensive and hassle-free travel. The International Student Identity Card allows students to benefit from special discounted rates while sightseeing. Travel to Europe will also give them the opportunity to learn about different cultures and lifestyles.</p>

				<button class="btn btn-primary" ui-sref="home.application.overall">APPLY NOW</button>
			</div>
		</div>
	</div>-->


</div>