<div class="college-view">
	<h1 class="text-center" style="margin-bottom: 30px;">Study in Australia</h1>
	<div class="container-fluid">
		<div class="row main-top-div">
			<div class="col-sm-6" style="padding:0;">
				<img src="client/app/assets/universities/au1.jpg" alt="" class="img-responsive">
			</div>
			<div class="col-sm-6">
				<h3>The Australian education system is broadly divided into:</h3>
				<strong><h4>University</h4></strong>
				<p>In Australia is the highest level of graduate and postgraduate study. There are 41 universities in total – 38 public (government funded) and three private. You can study at the undergraduate level (Bachelor Degree) or postgraduate study level in Australia (Graduate Certificate, Diploma, Masters, PhD).</p>

				<strong><h4>Vocational</h4></strong>
				<p>These institutions are closely linked with various industries. As a result, the courses are very practical and skill-based. Vocational courses are provided at both the government-funded Technical and Further Education (TAFE) institutes as well as private institutions. Many courses provide advanced standing into university degrees.</p>

				<strong><h4>School</h4></strong>
				<p>It is compulsory for children aged between 6 and 15, with matriculation exams for university generally taken at 18 years. Australian schools are public (government) or private (religious or independent).</p>

				<strong><h4>English Language</h4></strong>
				<p>Courses in English are undertaken for study, travel, immigration or business purposes. In Australia there are around 100 private English language centers. Some top ranking Australian universities and TAFE institutes also offer English language courses.</p>

				<strong><h4>Australian Academic Year</h4></strong>
				<p>Academic year in Australian begins in early February for school students and late February/early March for vocational and university students. Most schools have three or four semesters. Whereas, universities and vocational institutes have two semesters, with exams at the end of each semester in June and November. There is a two- to four-week break between semesters. The long summer holiday break is from November or December to February.</p>
			</div>
		</div>
	</div>
	<div class="container-fluid main-second-div">
		<div class="container">
			<div class="row text-center">
				<p>It is the highest level of graduate and postgraduate study in Australia. There are 41 universities in total – 38 public (government funded) and three private. You can study at the undergraduate level (Bachelor Degree) or postgraduate study level in Australia (Graduate Certificate, Diploma, Masters, PhD).</p>
				<button class="btn btn-primary" ui-sref="home.application.overall">APPLY NOW</button>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row" style="border-bottom: 1px solid #000;">
			<div class="col-sm-8">
				<h3>Why in Australia</h3>
				<p>More than 400,000 international students are studying at Australian institutions. For many, the most powerful lure is the reputation of quality and the diversity of Australia’s education system.</p>

				<p>Students are attracted by the country’s natural and man-made wonders, the peaceful environment, the cosmopolitan cities, multicultural communities, work & study structure and relatively low cost life style. They enjoy the challenge and freedom of studying overseas and the status that comes from studying at educational institution which have a reputation for excellence.</p>
				<p>Studying in Australia promotes innovative, creative and independent thinking for higher education. You will learn the essential skills of teamwork. Your higher education in Australia will teach you to communicate effectively with others and to develop the practical skills and intellectual abilities you need for global success.</p>
				<p>Your teachers will encourage you to think of original, practical solutions to real world problems. Upon graduation, your qualification will make you highly sought after by Australian and international employers.</p>
			</div>
			<div class="col-sm-4">
				<img src="client/app/assets/universities/usa4.jpg" alt="" class="img-responsive">
			</div>
		</div>
	</div>

	<div class="container" style="margin-top: 50px;">
		<h1 class="text-center">Frequently Asked Question</h1>
		<uib-accordion close-others="true">
			<div uib-accordion-group class="panel-default" heading="Cost of Study">
				<p>Australia is, undoubtedly, the perfect place to enjoy a quality education and outstanding quality of life. The best part about studying in this country is that you get excellent value for your money, with living expenses and tuition costs comparatively low as compared to the United Kingdom and Unites States.</p>


				<h3>Visa Requirements</h3>
				<p>To receive a student visa, you will have to prove that you have enough money to pay for living expenses, education costs and travel for the entire duration of your course. You can manage your expenses by working part time while you study. However, you can not and should not rely on your salary as your only source of income.</p>

				<h3>Overseas Student Health Cover (OSHC)</h3>
				<p>You need to maintain an Overseas Student Health Cover (OSHC) till the time your student visa is valid. You will also be responsible for your own accident and property insurance. It is advisable to purchase travel insurance before leaving your country to cover lost baggage, cancellation of plane tickets and repatriation.</p>

			</div>

			<div uib-accordion-group class="panel-default" heading="Living in Australia">
				<p>Australia is a warm, welcoming country which is considered as one of the most multicultural societies in the world. Almost a quarter of Australia’s people were born in another country.<br><br> Australia has equal opportunity for every individual residing there. It is against the law to discriminate on the grounds of race, culture, religion or gender. The country is a great place to live in. it offers a safe, friendly and multicultural environment that international students can easily fit into. As a student, you can most of your study experience by making the most of your life in Australia. Enjoy the culture, the food, the sights and the people!<br><br> Australia enjoys one of the highest standards of living in the world while remaining affordable. The living expenses include expenses on</p>
				<ul>
					<li>Accommodation</li>
					<li>Food</li>
					<li>Clothing</li>
					<li>Entertainment</li>
					<li>Transport</li>
					<li>International and domestic travel </li>
					<li>Telephone</li>
					<li>Incidental costs</li>
				</ul>
				<p>Please note that this cost will be dependant on your location, lifestyle and the course or institution you choose.</p>

			</div>


			<div uib-accordion-group class="panel-default" heading="Counselling">
				<p>Edu-Action counsellors are the market leading international education counsellors who offer you impartial and professional advice on international higher education institution and course options based on your academic qualifications and work experience, keeping in mind your budget, city and other preferences.</p>

				<h3>Institutions Application Processing</h3>
				<p>Edu-Action offices have all the relevant institution application forms, brochures and handbooks. Our experienced education counsellor (counselors) will help you compile your application and certify the documents supporting it. Your application will be forwarded to the institution and your education counsellor will follow up for a response. <br><br>You will also be invited to meet Australian education institution representatives who will assess your application and determine your eligibility for the course. Moreover, you will also have the opportunity to discuss course structures and graduate outcomes in our education seminars. </p>

				<h3>Response from Institution</h3>
				<p>You will receive a response from the institution within 4-8 weeks of your application being submitted. When an institution offers you a place of study, you will receive an offer letter. In some cases, Australian education institution representatives are able to assess your eligibility for the course and print out an offer letter during your interview at our office or events.</p>

				<h1>Visa Services</h1>
				<h3>Visa Seminar & Assesment</h3>
				<p>While your application is being processed by the institution, you are advised to register for the IELTS. You need your IELTS result to apply for your Australian student visa. During this time, you will need to attend the visa seminar where counsellors explain visa regulations and give advice on assessment criteria. Your counsellor will then conduct a visa assessment and help you prepare your student visa file.</p>
				<h3>Issue of Electronic Confirmation of Enrollment (eCOE)</h3>
				<p>When you accept an offer from an institution, you are required to pay the relevant tuition fee and take an OSHC (Overseas Student Health Cover) Policy. Payments are made directly to the institution via bank draft or telegraphic transfer. Your counsellor will send all these documents to the institution, along with your acceptance and refund policy form. <br><br> On receipt of the payment, the institution will authorize an eCOE. The eCOE confirms your admission at the institution and is also a receipt for the fee paid. The eCOE is required for student visa application.</p>

			</div>


			<div uib-accordion-group class="panel-default" heading="Visa application Procedures">
				<p>The Australian High Commission requires that your application is lodged on the eVisa system at least 12 weeks prior to the orientation date at your institution. You will need to provide your counsellor with the following documents for your visa application:</p>
				<ul>
					<li>Visa application form</li>
					<li>Visa application fee</li>
					<li>4 passport size photographs</li>
					<li>Valid Passport</li>
					<li>Electronic Confirmation of Enrollment.</li>
					<li>IELTS score sheet</li>
					<li>Academic and work experience documents</li>
					<li>Statement of purpose</li>
					<li>Evidence of financial ability (tuition fees, living expenses, expenses for dependants, return airfare)</li>
				</ul>
				<p>*For detailed visa application checklist, please speak to your counsellor. <br><br>On lodging of your eVisa application, your counsellor will download the medical forms. You will need to undergo medical examination by a doctor on the DIAC panel.</p>
			</div>

			<div uib-accordion-group class="panel-default" heading="Pre Departures">
				<p>Edu-Action will help students to receive valuable information about living in Australia, life as a student at your institution, tips on adapting to the culture, and dealing with homesickness. You will also have the opportunity to network with other students, including alumni, current students and future classmates.
					<br><br> Our services partners will advise you on ticketing, foreign exchange, travel insurance, opening an Australian Bank account and international calling cards.</p>

			</div>

			<div uib-accordion-group class="panel-default" heading="8 Easy Steps">

				<h3>Important Notice</h3>
				<p>It is preferable to commence your application-related procedures at least five months in advance of the intake.</p>


				<h3>Counselling</h3>
				<p>Based on your qualifications, work experience, course eligibility, and budget, our counsellors will help you take the right decision <br><br> If you have not taken the mandatory IELTS test, you need to register for the test, prior to lodging your application.</p>

				<h3>Individual Assessment Meeting</h3>
				<p>The entire pre visa procedure will be explained to students in detail. <br><br> Each individual will be assessed for eligibility for student visa.</p>

				<h3>Application Submission</h3>
				<p>Successful applications will receive a Letter of Offer from the institution via Edu-Action. These letters can be either conditional or unconditional. <br><br>Approximate processing time for Steps 1 – 3 from the date of applications:</p>
				<ul>
					<li>4-6 Weeks for UG</li>
					<li>4-8 Weeks for PG (Coursework)</li>
					<li>6-8 Weeks PG (Research)</li>
					<li>1 Week TAFE/Schools/Colleges & Foundation Courses</li>
				</ul>

				<h3>Tuition Fee or Deposit</h3>
				<p>Pay First Semester tuition fees (if you have an unconditional offer) or deposit (if you have a conditional offer pending final results) and the compulsory Overseas Student Health Cover (OSHC) by Bank transfer. <br><br> EDU-ACTION will forward the draft/confirmation of TT along with acceptance of offer and request for electronic Confirmation of Enrolment (eCOE) to the institution <br><br> The institution authorizes an eCOE, which not only confirms your admission, but is also a receipt for fee paid. The eCOE is issued by the institution in 1 – 3 days time.</p>

				<h3>eVisa Application</h3>
				<p>Collect your visa forms and list of supporting documents from Edu-Action <br><br> It will take at least 8-12 weeks for the processing of your eVisa application.</p>

				<h3>Medical examination</h3>
				<p>Once your eVisa is lodged, you need to undergo a medical examination by a panel doctor approved by the AHC. <br><br> You will be allocated a unique Transaction Reference Number which can be used for online query of your application status.</p>

				<h3>Travel / Accommodation Arrangements</h3>
				<p>On receiving your visa approvals, buy your air tickets and be prepared with necessary foreign exchange. Once you provide your flight details to the EDU-ACTION counsellor, we will assist you with information on various available on-campus and off-campus accommodations.</p>

				<h3>Pre-Departure Briefing</h3>
				<p>You will be oriented with detailed aspects of life and studies in Australia. <br><br> It is a great opportunity to meet alumni, current students and future classmates. <br><br> EDU-ACTION’s pre departure briefings are usually held in the months of January and June.</p>

			</div>
		</uib-accordion>
	</div>
	<!--<div class="container-fluid main-second-div-2">
		<div class="container">
			<div class="row text-center">
				<h2>Prepare to study and live in the U.S.</h2>
				<p>Your EDU-ACTION counsellor will have you participate in a pre-departure event that will have U.S. university experts talk to you about the academic, social, cultural and sporting life in US universities. In addition, you will receive guidance on important issues such as foreign exchange, accommodation, insurance, medical requirement and online registration of courses.</p>

				<button class="btn btn-primary" ui-sref="home.application.overall">APPLY NOW</button>
			</div>
		</div>
	</div>-->


</div>