<div class="container privacy-policy" style="margin-top: 70px">
<h1>Frequently Asked Question</h1>

<h4>What courses/universities/countries you suggest?</h4>
<p> It depends on your interests, financial capabilities and future goals. USA offers various types of courses and prices, the UK does too. Canada and especially Australia has a lot to offer, during and after the graduation. </p>


<h4>What is the minimum requried IELTS score? </h4>
<p>Depends where are you appliying for. Usually, minimum IELTS requirement is 6 or 5.5. If you obtained your Bachelor Degree from International Universities, where all syllabuses were taught in English and applying to Master’s program, then no need to have IELTS score for some Universities. </p>

<h4>What is covered in your service fee?</h4>
<p>Mainly preparation of your documents for visa and application support for University. Assisting you to choose the right university based on your interest and demand for the major in Uzbekistan. Full support and consultancy for your enrollment to the chosen University.</p>

<h4>Why we should trust you?</h4>
<p>We care about our each client and approach to their case individually. You could see all our reviews on our Facebook pages (https://www.facebook.com/EduActionUzb).</p>

<h4>I want to apply with you, what should I do?</h4>
<p>Please, visit our office from Monday to Friday anytime from 9am to 6pm.</p>

<h4>What documents will I need/should I bring to apply?</h4>
<p>Passport, IELTS certificate if any, Diploma, Transcript from your recent University/College.</p>

<h4>How can I get more detailed/personalized information? </h4>
<p>Please, leave us all required information about you ( at contact us form) and we can get in touch with you in a short period of time. Or visit our office at the address below. </p>

<h4>Do you have any students studying abroad?</h4>
<p>We have many students studying in the USA, Australia, UK, Malaysia, Korea and Singapore where you can see their review posts in our Facebook pages.</p>

<h4>Do you send students to Europe?</h4>
<p>We do not send people. We only consult and support the students in their application and visa process for the chosen destination. We have many Universities in Europe as well. </p>

</div>