<div class="container-fluid main-page-top">
<div class="absolute-back"></div>
<div class=" page-top-content pull-left wow bounceInLeft">
	<h1 class="wow bounceInLeft" style="color:#fff">WELCOME 
	<span ng-if="isAuth()">{{currentUser.name + " " + currentUser.lastname}}</span>
	<span ng-if="!isAuth()">Guest User</span>
	  </h1>
	<img src="client/app/assets/student.png" alt="" style="width:20%">
	<button class="btn btn-primary">GET STARTED</button>
</div>
	<div class="page-top-content pull-right">
		<!--<div>Edu Action <br /> Leads You to Success</div>
		<button class="btn btn-primary">APPLY NOW</button>-->
		<div class="easy-steps pull-right wow bounceInRight" >
			<h3 class="text-center">3 Easy Steps</h3> 
			<ul>
				<li>1. &nbsp;  <i class="fa fa-edit"></i> &nbsp;  Create A Profile</li>
				<li>2. &nbsp;  <i class="fa fa-university"></i> &nbsp; Fill Up College Application</li>
				<li>3. &nbsp;  <i class="fa fa-check-circle"></i> &nbsp; Get Confirmation</li>
			</ul>
			<div class="get-started-div" ng-click="go_apply_college()">GET STARTED</div>
		</div>
	</div>
</div>
<div class="page-wrapper">

	<!--<div class="our-services">
		<div class="our-services-title">
			<div>Edu Action Offers You </div>
		</div>
		<div class="services-wrapper">
			<div class="row">
				<div class="col-lg-3 single-service">
					<div class="image-container"><img src="client/app/assets/icons/qwe.png" alt=""></div>
					<div class="image-text">
						- Consultation services on diverse foreign education programs <br> - Preparing required documents according to selected programs<br> - Assisting in choice of School and Discipline. <br /> - Visa Support and After Departure Support
					</div>
				</div>
				<div class="col-lg-3 single-service">
					<div class="image-container"><img src="client/app/assets/icons/chat.png" alt=""></div>
					<div class="image-text"> - Thorough information about junior programs on holiday and all year round<br> - Adult language courses, Primary, Secondary and Higher Education Programs</div>
				</div>
				<div class="col-lg-3 single-service">
					<div class="image-container"><img src="client/app/assets/icons/language.png" alt=""></div>
					<div class="image-text"> - Junior Programs on holiday and all year around <br> - Adult Language, Summer/Winter school programs </div>
				</div>
				<div class="col-lg-3 single-service">
					<div class="image-container"><img src="client/app/assets/icons/bach5.png" alt=""></div>
					<div class="image-text"> - Primary, Secondary and Higher Education <br> - Bachelor`s, Master`s and MBA Programs<br> - Foundation and Pre-Masters</div>
				</div>
			</div>
		</div>
	</div>-->


	<div class="top-ranking-colleges">
		<div class="top-ranking-title">Top Ranking Colleges</div>
		<div class="card-wrapper">
			<div class="card">
				<img width="200" height="200" src="client/app/assets/stanford.jpg" alt="Avatar">
				<div class="">
					<h4><b>Stanford University</b></h4>
					<p>United States of America</p>
				</div>
			</div>
			<div class="card">
				<img width="200" height="200" src="client/app/assets/harvard.png" alt="Avatar">
				<div class="">
					<h4><b>Harvard University</b></h4>
					<p>United States of America</p>
				</div>
			</div>
			<div class="card">
				<img width="200" height="200" src="client/app/assets/mit.jpg" alt="Avatar">
				<div class="">
					<h4><b>MIT</b></h4>
					<p>United States of America</p>
				</div>
			</div>
			<div class="card">
				<img width="200" height="200" src="client/app/assets/princeton.jpg" alt="Avatar">
				<div class="">
					<h4><b>Princeton University</b></h4>
					<p>United States of America</p>
				</div>
			</div>
			<div class="card">
				<img width="200" height="200" src="client/app/assets/chicago.jpg" alt="Avatar">
				<div class="">
					<h4><b>University of Chicago</b></h4>
					<p>United States of America</p>
				</div>
			</div>
		</div>
	</div>

	<div class="countries-of-study">
		<div class="countries-title">
			Countries of Study
		</div>
		<div class="countries-of-study-wrapper row">
			<div class="country-unit col-sm-2" ng-click="go_usa()">
				<img src="client/app/assets/countries/usa2.jpg" alt="">
				<div>United States of <br /> America</div>
			</div>
			<div class="country-unit col-sm-2" ng-click="go_uk()">
				<img src="client/app/assets/countries/uk2.jpg" alt="">
				<div>United Kingdom</div>
			</div>
			<div class="country-unit col-sm-2" ng-click="go_my()">
				<img src="client/app/assets/countries/my2.jpg" alt="">
				<div>Malaysia</div>
			</div>
			<div class="country-unit col-sm-2" ng-click="go_sg()">
				<img src="client/app/assets/countries/sg2.jpeg" alt="">
				<div>Singapore</div>
			</div>
			<div class="country-unit col-sm-2" ng-click="go_kr()">
				<img src="client/app/assets/countries/korea2.jpg" alt="">
				<div>North Korea</div>
			</div>
			<div class="country-unit col-sm-2" ng-click="go_kr()">
				<img src="client/app/assets/countries/aust2.jpg" alt="">
				<div>Australia</div>
			</div><!--
			<div class="country-unit">
				<img src="client/app/assets/countries/japan2.jpg" alt="">
				<div>Japan</div>
			</div>-->
		</div>
	</div>

	<div class="section1">
		<div class="section1-top" >
			Study in Your Dream University together with Edu Action
		</div>
		<div class="section1-bottom">
			<div>
				<p>Create profile</p>
				<i class="fa fa-edit"></i>
			</div>
			<div>
				<p>Apply to College</p>
				<i class="fa fa-university"></i>
			</div>
			<div>
				<p>Get Confirmation</p>
				<i class="fa fa-check-circle"></i>
			</div>
		</div>
		<div class="login-button-wrapper">
			<button class="log-in">GET STARTED</button>
		</div>
	</div>
</div>