
<div class="custom-nav">
		<div class="row">
			<div class="col-lg-4">
				<img src="client/app/assets/8new.png" alt="Edu Action Logo" width="80" height="" ui-sref="home.main">
				<span class="slogan hide-mobile">Global Student Network</span>

				<div class="dropdown hide-desktop show-mobile-menu">
					<a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i></a>
				</div>
			</div>    
			<div class="col-lg-4 col-sm-12 search-box">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search Edu Action">
					<div class="input-group-btn">
						<button class="btn btn-success" type="submit">Search</button>
					</div>
				</div>
			</div>
			<div class="hide-desktop mobile-nav">
				<h2>asdasd</h2>
			</div>
			<div class="col-lg-4 call-action-buttons hide-mobile">
				<button class="sign-up" ng-if="!isAuth()" ng-click="go_signup()">Sign Up </button>
				<button class="log-in" ng-if="!isAuth()" ng-click="go_login()">Log In</button>
				<!--<button class="log-in" ng-click="go_application()">College Application</button>
				<button class="log-in">Contact Us</button>-->
				<a ui-sref="home.application.college-status" style="color: #fff" ng-if="isAuth()"> {{currentUser.name + " " + currentUser.lastname}}  &nbsp; 
				 <img src="client/app/assets/profile1.jpg" width="32" alt="" ></a> &nbsp; &nbsp; &nbsp; 
				<button ng-if="isAuth()" ng-click="signOut()">Sign Out</button>
			</div>
		</div>
		<div class="navigation-bar">
			<a ui-sref="home.main">Home</a>
			<a ui-sref="home.colleges" class="clickable">Find a College </a>
			<a ng-click="go_apply_college()" class="clickable">Apply for a College</a>
			<a ui-sref="home.application.college-status" ng-if="isAuth()" style="padding-right:0;">My Status
			</a>
			<div class="circle" id="circle-b">
						<strong></strong>
			</div>
			<!--<a href="">Compare Colleges</a>
			<a href="">Majors</a>-->
		</div>
	</div>
	<div ui-view></div>
	<div class="footer-section">
		<div class="contact-us" style="margin-top:0">
			Drop Us a Line. We`ll get back ASAP
		</div>
		<div class="footer-wrapper">
			<div class="row">
				<div class="col-lg-6" style="padding-right: 30px;">
					<div class="row">
						<div class="col-lg-6">
							<div class="input-field">
								<label for="fname">Your Name</label><br>
								<input type="text" placeholder="Contact Person">
							</div>
							<div class="input-field">
								<label for="fname">Your Phone Number</label><br>
								<input type="text" placeholder="Contact Number">
							</div>
							<div class="input-field">
								<label for="fname">Your E-mail</label><br>
								<input type="text" placeholder="Contact E-mail">
							</div>
						</div>
						<div class="col-lg-6">
							<div class="input-field">
								<label for="fname">Your E-mail</label><br>
								<textarea type="text" placeholder="Contact E-mail" rows="9"></textarea>
							</div>
							<div>
								<button class="btn btn-primary pull-right">SEND</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 footer-right-section">
					<div class="row">
						<div class="col-lg-6">
							<div class="footer-mini-title">Information</div>
							<ul class="info-footer">
								<li>About Edu Action</li>
								<li ui-sref="home.faq">F.A.Q</li>
								<li ui-sref="home.term_of_services">Terms of Services</li>
								<li ui-sref="home.privacy_policy">Privacy Policy</li>
							</ul>
						</div>
						<div class="col-lg-6">
							<div class="footer-mini-title">Connect</div>
							<a href="https://www.facebook.com/EduActionUzb/">
								<img src="client/app/assets/footer/facebook.png" width="50" alt="facebook logo">
							</a>
							<a href="https://www.instagram.com/eduaction.uz/">
								<img src="client/app/assets/footer/instagram.png" width="50" alt="instagram logo">
							</a>
							<a href="https://t.me/eduactionuz">
								<img src="client/app/assets/footer/telegram.png" width="50" alt="telegram logo">
							</a>
						</div>
						<!--
						<div class="col-lg-4">
							
						</div>-->
					</div>
				</div>
			</div>
		</div>
	</div>