<h1 class="text-center">PERSONAL FORM</h1>
<div class="row" id="personal-info-form">
	<form name="personalForm" novalidate>
		<div class="col-lg-6">
			<div class="input-wrapper">
				<label for="name">Your Full Name *</label>
				<input type="text" name="name" id="name" placeholder="Name" required ng-model="personal.name" ng-class="applicationFormSubmitted && personalForm.name.$error.required ? 'error-input' : ''">
			</div>
			<div class="input-wrapper">
				<label for="date_of_birth">Your Date of Birth *</label>
				<input type="text" id="date_of_birth" name="dob" placeholder="dd/mm/yyyy" ng-model="personal.dob" required ng-class="applicationFormSubmitted && personalForm.dob.$error.required ? 'error-input' : ''" ui-mask="99/99/9999" ui-mask-use-viewvalue="true">
			</div>
			<div class="input-wrapper">
				<label for="">What is Your Gender ? *</label>
				<select name="gender" id="" ng-model="personal.gender" ng-options="gender.title for gender in genders" ng-class="applicationFormSubmitted && personalForm.gender.$error.required ? 'error-input' : ''" required>
			</select>
			</div>
			<div class="input-wrapper">
				<label for="spoken_languages">What languages You Speak ? *</label>
				<!--<input type="text" id="spoken_languages" placeholder="Languages Spoken" required
				uib-typeahead="lang for lang in spokenLanguages | filter:$viewValue | limitTo:8">-->
				<multiselect class="input-xlarge" multiple="true" ng-model="languages" options="c.title for c in spokenLanguages" change="selected()"></multiselect>
				<div class="multiselect-fields">
					<span ng-repeat="lang in languages">{{lang.title}}</span>
				</div>
			</div>
			<div class="input-wrapper">
				<label for="is_transfer">Are you a transfer student ? *</label>
				<select name="isTransferS" id="" ng-model="personal.isTransfer" ng-options="yes.title for yes in booleans" ng-class="applicationFormSubmitted && personalForm.isTransferS.$error.required ? 'error-input' : ''" required>
			</select>
			</div>
			<div class="input-wrapper">
				<label for="country">Which Country You are From ? *</label>
				<input type="text" id="country" name="country_from" placeholder="Country" required ng-model="personal.country_from" uib-typeahead="country.name for country in countryList | filter:$viewValue | limitTo:8" ng-class="applicationFormSubmitted && personalForm.country_from.$error.required ? 'error-input' : ''">
			</div>
			<div class="input-wrapper">
				<label for="country_birth">Which Country You were Born ? *</label>
				<input type="text" id="country_birth" placeholder="Country of Birth" name="country_born" required ng-model="personal.country_birth" uib-typeahead="country.name for country in countryList | filter:$viewValue | limitTo:8" ng-class="applicationFormSubmitted && personalForm.country_born.$error.required ? 'error-input' : ''">
			</div>
		</div>
		<div class="col-lg-6">
			<div class="input-wrapper">
				<label for="city_birth">Which City You were Born ? *</label>
				<input type="text" ng-model="personal.city_birth" name="city_born" id="city_birth" placeholder="City Of Birth" required ng-class="applicationFormSubmitted && personalForm.city_born.$error.required ? 'error-input' : ''">
			</div>
			<div class="input-wrapper">
				<label for="citizen">Your Citizenship *</label>
				<input type="text" name="citizen" id="citizen" placeholder="Citizen" required ng-model="personal.citizenship" uib-typeahead="country.name for country in countryList | filter:$viewValue | limitTo:8" ng-class="applicationFormSubmitted && personalForm.citizen.$error.required ? 'error-input' : ''">
			</div>
			<div class="input-wrapper">
				<label for="pass_number">Passport Number *</label>
				<input type="text" name="pass_number" id="pass_number" placeholder="Passport Number" required ng-model="personal.passport_number" uib-typeahead="country.name for country in countryList | filter:$viewValue | limitTo:8" ng-class="applicationFormSubmitted && personalForm.pass_number.$error.required ? 'error-input' : ''">
			</div>
			<div class="input-wrapper" style="display:flex">
				<div style="margin-right: 20px;">
					<label for="pass_issued">Issued Date *</label>
					<input type="text" id="pass_issued" name="pass_issued" placeholder="dd/mm/yyyy" ng-model="personal.pass_issued" required ng-class="applicationFormSubmitted && personalForm.pass_issued.$error.required ? 'error-input' : ''" ui-mask="99/99/9999" ui-mask-use-viewvalue="true">
				</div>

				<div>
					<label for="pass_exp">Expiration Date *</label>
					<input type="text" id="pass_exp" name="pass_exp" placeholder="dd/mm/yyyy" ng-model="personal.pass_exp" required ng-class="applicationFormSubmitted && personalForm.pass_exp.$error.required ? 'error-input' : ''" ui-mask="99/99/9999" ui-mask-use-viewvalue="true">
				</div>

			</div>
			<div class="input-wrapper">
				<label for="school_now">What School You are Attending Now ? *</label>
				<input type="text" id="school_now" ng-model="personal.school_now" name="school_now" placeholder="School Attending Now" required ng-class="applicationFormSubmitted && personalForm.school_now.$error.required ? 'error-input' : ''">
			</div>
			<div class="input-wrapper">
				<label for="education_level">What is Your Education Level ? *</label>
				<select ng-model="personal.education_current" id="education_level" name="education_level" ng-options="edu.title for edu in currentDegree" required ng-class="applicationFormSubmitted && personalForm.education_level.$error.required ? 'error-input' : ''"></select>
			</div>
			<div class="input-wrapper">
				<label for="expected_graduation">When is Expected Graduation ? *</label>
				<select ng-model="personal.expected_graduation" id="expected_graduation" placeholder="Expected Graduation" ng-options="year for year in years" required name="expected_graduation" ng-class="applicationFormSubmitted && personalForm.expected_graduation.$error.required ? 'error-input' : ''"></select>
				<button ng-click="submitPersonal(personalForm.$valid)" class="btn btn-success next-to-form">Submit & Next</button>
			</div>
		</div>
	</form>
</div>