
<div class="row">
	<h1>Personal Information</h1>
	<div class="col-lg-6">
		<div class="row user-info">
			<div class="col-lg-6 user-info-title">
				Name
			</div>
			<div class="col-lg-6">
				{{currentUser.name + ' ' + currentUser.lastname}}
			</div>
		</div>
		<div class="row user-info">
			<div class="col-lg-6 user-info-title">
				Birth Date
			</div>
			<div class="col-lg-6">
				{{currentUser.birth_date}}
			</div>
		</div>
		<div class="row user-info">
			<div class="col-lg-6 user-info-title">
				Gender
			</div>
			<div class="col-lg-6">
				{{}}
			</div>
		</div>
		<div class="row user-info">
			<div class="col-lg-6 user-info-title">
				Languages Speak
			</div>
			<div class="col-lg-6">
				{{}}
			</div>
		</div>
		<div class="row user-info">
			<div class="col-lg-6 user-info-title">
				Country
			</div>
			<div class="col-lg-6">
				{{}}
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="row user-info">
			<div class="col-lg-6 user-info-title">
				Country Of Birth
			</div>
			<div class="col-lg-6">
				{{}}
			</div>
		</div>
		<div class="row user-info">
			<div class="col-lg-6 user-info-title">
				City Of Birth
			</div>
			<div class="col-lg-6">
				{{}}
			</div>
		</div>
		<div class="row user-info">
			<div class="col-lg-6 user-info-title">
				Citizen
			</div>
			<div class="col-lg-6">
				{{}}
			</div>
		</div>
		<div class="row user-info">
			<div class="col-lg-6 user-info-title">
				Education level
			</div>
			<div class="col-lg-6">
				{{}}
			</div>
		</div>
		<div class="row user-info">
			<div class="col-lg-6 user-info-title">
				Current School
			</div>
			<div class="col-lg-6">
				{{}}
			</div>
		</div>
		<div class="row user-info">
			<div class="col-lg-6 user-info-title">
				Graduation
			</div>
			<div class="col-lg-6">
				{{}}
			</div>
		</div>
	</div>
</div>
<div class="row">
	<h1>Contact Info</h1>
	<div class="col-lg-6">
		<div class="row user-info">
			<div class="col-lg-6  user-info-title">
				Email
			</div>
			<div class="col-lg-6">
				{{currentUser.contact.email}}
			</div>
		</div>
		<div class="row user-info">
			<div class="col-lg-6  user-info-title">
				Primary Phone
			</div>
			<div class="col-lg-6">
				{{currentUser.contact.primary_phone}}
			</div>
		</div>

	</div>
	<div class="col-lg-6">
		<div class="row user-info">
			<div class="col-lg-6  user-info-title">
				Skype ID
			</div>
			<div class="col-lg-6">
				{{currentUser.contact.skypeid}}
			</div>
		</div>
		<div class="row user-info">
			<div class="col-lg-6  user-info-title">
				Address
			</div>
			<div class="col-lg-6">
				{{currentUser.contact.home_address_1 + " " + currentUser.contact.home_address_2 + " " + currentUser.contact.home_city}}
			</div>
		</div>
	</div>
</div>
<div class="row">
	<h1>Objectives</h1>
	<div class="col-lg-6">
		<div class="row user-info">
			<div class="col-lg-6  user-info-title">
				Interested Majors
			</div>
			<div class="col-lg-6">
				{{}}
			</div>
		</div>
		<div class="row user-info">
			<div class="col-lg-6  user-info-title">
				Intended start date
			</div>
			<div class="col-lg-6">
				{{}}
			</div>
		</div>
		<div class="row user-info">
			<div class="col-lg-6  user-info-title">
				Education Style
			</div>
			<div class="col-lg-6">
				{{}}
			</div>
		</div>
		<div class="row user-info">
			<div class="col-lg-6  user-info-title">
				Financial Ability
			</div>
			<div class="col-lg-6">
				{{}}
			</div>
		</div>

	</div>
	<div class="col-lg-6">
		<div class="row user-info">
			<div class="col-lg-6  user-info-title">
				High School Gpa
			</div>
			<div class="col-lg-6">
				{{}}
			</div>
		</div>
		<div class="row user-info">
			<div class="col-lg-6  user-info-title">
				College Entrance Exams
			</div>
			<div class="col-lg-6">
				<table class="table table-border">
					<tr>
						<th>SAT</th>
						<th>IELTS</th>
					</tr>
					<tr>
						<td>8.9</td>
						<td>7</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="row user-info">
			<div class="col-lg-6  user-info-title">
				Selected Colleges
			</div>
			<div class="col-lg-6">
				<table class="table table-border">
					<tr>
						<th>Title</th>
						<th>Country</th>
					</tr>
					<tr>
						<td>Stanford University</td>
						<td>USA</td>
					</tr>
					<tr>
						<td>University of East London</td>
						<td>UK</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<h1>Sponsors</h1>
	<div class="col-lg-6">
		<div class="row user-info">
			<div class="col-lg-6  user-info-title">
				Sponsor Type
			</div>
			<div class="col-lg-6">
				{{currentUser.sponsor.relationship_type}}
			</div>
		</div>
		<div class="row user-info">
			<div class="col-lg-6  user-info-title">
				Sponsor name
			</div>
			<div class="col-lg-6">
				{{currentUser.sponsor.first_name + " " + currentUser.sponsor.last_name}}
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="row user-info">
			<div class="col-lg-6  user-info-title">
				Sponsor contact email
			</div>
			<div class="col-lg-6">
				{{currentUser.sponsor.email}}
			</div>
		</div>
		<div class="row user-info  user-info-title">
			<div class="col-lg-6">
				Sponsor phone number
			</div>
			<div class="col-lg-6">
				{{currentUser.sponsor.phone}}
			</div>
		</div>
	</div>
</div>
<div class="row">
	<h1>Uploads</h1>
	<div class="col-lg-12">
		<div class="row user-info  user-info-title">
			<span>
				transcript.doc
			</span>
			<span>
				IELTS.png
			</span>
		</div>
	</div>
</div>