<div id="application-wrapper">
	<div class="row sub-wrapper">
		<div class="col-lg-9 sub-wrapper1">
			<div class="form-wrapper">
				<h2>{{currentUser.name + " " + currentUser.lastname}} College Application</h2>
				<div id="form-views" class="bouncy-slide-left" ui-view></div>
			</div>
		</div>
		<div class="col-lg-3 sub-wrapper2">
			<div class="status-header clickable row" ui-sref="home.application.overall">
				<div class="col-sm-9">
					<h2 style="margin-top:0">Application Form Status</h2>
					<span class="clickable" style="font-size:18px;">Preview Application</span></div>
				<div class="col-sm-3">
					<div class="circle" id="circle-a">
						<strong></strong>
					</div>
				</div>
			</div>

			<div style="clear:both"></div>
			<div>
			</div>
			<div class="status-body">
				<h1>Sections</h1>
				<ul>
					<li>
						<i ng-if="currentUser.info == null"   class="fa fa-exclamation-circle" style="color:red" title="Form is not submitted yet"></i>
						<i ng-if="currentUser.info != null"   class="fa fa-check-circle" style="color:#4cae4c" title="Form successfully submitted"></i>
						<a ui-sref="home.application.form-personal"> Personal Information </a>
					</li>
					<li ui-sref="home.application.form-contact">
						<i ng-if="currentUser.contact == null"  class="fa fa-exclamation-circle" style="color:red" title="Form is not submitted yet"></i>
						<i ng-if="currentUser.contact != null"  class="fa fa-check-circle" style="color:#4cae4c" title="Form successfully submitted"></i>
						<a ui-sref="home.application.form-contact">Contact Info</a>
					</li>
					<li>
						<i ng-if="currentUser.objective == null"  class="fa fa-exclamation-circle" style="color:red" title="Form is not submitted yet"></i>
						<i ng-if="currentUser.objective != null"  class="fa fa-check-circle" style="color:#4cae4c" title="Form successfully submitted"></i>
						<a ui-sref="home.application.form-objectives"> Objectives </a>
					</li>
					<li>
						<i ng-if="currentUser.sponsor == null" class="fa fa-exclamation-circle" style="color:red" title="Form is not submitted yet"></i>
						<i ng-if="currentUser.sponsor != null" class="fa fa-check-circle" style="color:#4cae4c" title="Form successfully submitted"></i>
						<a ui-sref="home.application.form-sponsors">Sponsors </a>
					</li>
					<li>
						<i ng-if="currentUser.userFiles.length == 0"  class="fa fa-exclamation-circle" style="color:red" title="Form is not submitted yet"></i>
						<i ng-if="currentUser.userFiles.length > 0"  class="fa fa-check-circle" style="color:#2bb552" title="Form successfully submitted"></i>
						<a ui-sref="home.application.form-uploads">Uploads </a>
					</li>
				</ul>
				<div>
					<button class="btn btn-success" ui-sref="home.application.form-personal">Edit Application</button>
				</div>
			</div>
			<div class="btn btn-success" ui-sref="home.application.college-status" style="white-space: normal">
								View College Application Status (after completing Application Forms)
			</div>
		</div>
	</div>
</div>