<div class="dropdown" style="background:#fff;" ng-class="applicationFormSubmitted && !languages.length ? 'error-input' : ''">
  <button class="btn multiselect-button" ng-click="toggleSelect()" ng-disabled="disabled" ng-class="{'error': !valid()}" style="background:#fff;" >
    <span class="pull-left">{{header}}</span>
    <span class="caret pull-right"></span>
  </button>
  <ul class="dropdown-menu">
    <li>
      <input class="input-block-level" type="text" ng-model="searchText.label" autofocus="autofocus" placeholder="Filter" />
    </li>
    <li ng-show="multiple">
      <button class="btn-link btn-small" ng-click="checkAll()"><i class="icon-ok"></i> Check all</button>
      <button class="btn-link btn-small" ng-click="uncheckAll()"><i class="icon-remove"></i> Uncheck all</button>
    </li>
    <li ng-repeat="i in items | filter:searchText">
      <a ng-click="select(i); focus()" class="pre-selected-language">
        <i ng-class="{'fa fa-check': i.checked, '': !i.checked}"></i><span>{{i.label}}</span></a>
    </li>
  </ul>
</div>