<toaster-container></toaster-container>
<h1 class="text-center">Objectives</h1>
<form novalidate name="objectives_form">
<div class="row" id="personal-info-form">
	<div class="col-lg-8">
		<div class="input-wrapper">
			<label for="start_date">What is Your Intended Date to Start ?</label>
			<div style="display: flex">
				<select name="select_term" id="start_date" ng-model="start1.term" style="margin-right:20px;" required
				ng-class="objective_submitted && objectives_form.select_term.$error.required ? 'error-input' : ''" >
					<option value="Spring">Spring</option>
					<option value="Fall">Fall</option>
					<option value="Summer">Summer</option>
				</select>
				<select name="select_year" id="1as" ng-model="start1.year" required 
				ng-class="objective_submitted && objectives_form.select_year.$error.required ? 'error-input' : ''">
					<option value="2018">2018</option>
					<option value="2019">2019</option>
					<option value="2020">2020</option>
					<option value="2021">2021</option>
					<option value="2022">2022</option>
					<option value="2023">2023</option>
					<option value="2024">2024</option>
					<option value="2025">2025</option>
				</select>
			</div>
		</div>
		<div class="input-wrapper">
			<label for="school_gpa">What is Your High School GPA ?</label>
			<input type="text" id="school_gpa" placeholder="High School GPA" ng-model="objective.high_scool_gpa">
		</div>
		<div class="input-wrapper">
			<label for="edu_style">What Education Style You Are Interested In ?</label>
			<select name="edu_style" id="edu_style" ng-model="objective.education_style" required
			ng-class="objective_submitted && objectives_form.edu_style.$error.required ? 'error-input' : ''">
				<option value="Campus">Campus Only</option>
				<option value="Online">Online</option>
				<option value="Both">Both</option>
			</select>
		</div>
		<div class="input-wrapper">
			<label for="financial_ability">What is Your Financial Ability ?</label>
			<select name="financial_ability" id="financial_ability" ng-model="objective.financial_ability" required
			ng-class="objective_submitted && objectives_form.financial_ability.$error.required ? 'error-input' : ''">
				<option value="$10.000">$10.000</option>
				<option value="$20.000">$20.000</option>
				<option value="$30.000">$30.000</option>
				<option value="$40.000">$40.000</option>
				<option value="$50.000">$50.000</option>
			</select>
		</div>
		<div class="input-wrapper">
		<label for="financial_ability">Select Major</label>
			<select name="selected_major" id="" ng-model="majorsInterested" ng-options="major as major.name for major in main_majors"
			 ng-change="select_major(majorsInterested)" required
			 	ng-class="objective_submitted && objectives_form.selected_major.$error.required ? 'error-input' : ''"
			 ></select>
		</div>
		<div class="input-wrapper">
		<label for="financial_ability">Select University</label>
			<!--<select name="" id="" ng-model="objective.selected_colleges" ng-options="uni as uni.name for uni in main_universities"></select>-->
			
			<multiselect class="input-xlarge" multiple="true" ng-model="sselected_colleges" options="c as c.name for c in main_universities" change="selected()" required name=""
					ng-class="objective_submitted && sselected_colleges.length == 0 ? 'error-input' : ''"
			></multiselect>
				<div class="multiselect-fields">
					<span ng-repeat="lang in sselected_colleges">{{lang.name}}</span>
				</div>
		</div>
		
		<div class="text-right">
			<button class="btn btn-success" ng-click="submit_objective(objectives_form.$valid, sselected_colleges)" ng-disabled="submitting_objective">SAVE & SUBMIT
			<i class="fas fa-spinner fa-spin" ng-if="submitting_objective"></i></button>
		</div>
		
		<!--<div class="input-wrapper">
			<label for="entrance_exams">College Entrance Exams</label>
			<div class="exams-wrapper">
				<div class="enntrace-ex">
					<span class="entrance_exams" ng-click="isSAT = !isSAT; isGMAT=false;isGRE=false" ng-class="isSAT ? 'active-exam' : ''">SAT</span>
					<span class="entrance_exams" ng-class="isGMAT ? 'active-exam' : ''" ng-click="isGMAT = !isGMAT;isGRE=false;isSAT=false">GMAT</span>
					<span class="entrance_exams" ng-class="isGRE ? 'active-exam' : ''" ng-click="isGRE = !isGRE;isGMAT=false;isSAT=false">GRE</span>
				</div>
				<div class="exam-content">
					<div class="exam-sat bouncy-slide-left" ng-show="isSAT">
						<table>
							<tr>
								<th><label for="">Reading/Writing <br> (200-800)</label></th>
								<th><label for="">Math (200-800)</label></th>
								<th><label for="">Total (400-1600)</label></th>
							</tr>
							<tr>
								<td><input type="number" ng-model="sat_read_write"></td>
								<td><input type="number" ng-model="sat_math"></td>
								<td><input type="number" ng-model="sat_total"></td>
							</tr>
						</table>
					</div>
					<div class="exam-gmat bouncy-slide-left" ng-show="isGMAT">
						<table>
							<tr>
								<th><label for="">GMAT <br> (200-800)</label></th>
							</tr>
							<tr>
								<td><input type="number" ng-model="gmat_total"></td>
							</tr>
						</table>
					</div>
					<div class="exam-gre bouncy-slide-left" ng-show="isGRE">
						<table>
							<tr>
								<th><label for="">Verbal <br> (130-170)</label></th>
								<th><label for="">Quantitative: (130-170)</label></th>
								<th><label for="">Analytical: (0-6)</label></th>
							</tr>
							<tr>
								<td><input type="number" ng-model="gre_verbal"></td>
								<td><input type="number" ng-model="gre_quant"></td>
								<td><input type="number" ng-model="gre_analytical"></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="input-wrapper">
			<label for="entrance_exams">International Students</label>
			<div class="exams-wrapper">
				<div class="enntrace-ex">
					<span class="entrance_exams" ng-click="isIELTS = !isIELTS; isTOEFL=false" ng-class="isIELTS ? 'active-exam' : ''">IELTS</span>
					<span class="entrance_exams" ng-class="isTOEFL ? 'active-exam' : ''" ng-click="isTOEFL = !isTOEFL;isIELTS=false">TOEFL</span>
				</div>
				<div class="exam-content">
					<div class="exam-sat bouncy-slide-left" ng-show="isIELTS">
						<table>
							<tr>
								<th><label for="">Reading <br>(0-9)</label></th>
								<th><label for="">Listening <br>(0-9)</label></th>
								<th><label for="">Speaking <br>(0-9)</label></th>
								<th><label for="">Writing <br>(0-9)</label></th>
								<th><label for="">Total <br>(0-9)</label></th>
							</tr>
							<tr>
								<td><input type="number" ng-model="ielts_reading"></td>
								<td><input type="number" ng-model="ielts_listening"></td>
								<td><input type="number" ng-model="ielts_speaking"></td>
								<td><input type="number" ng-model="ielts_writing"></td>
								<td><input type="number" ng-model="ielts_total"></td>
							</tr>
						</table>
					</div>
					<div class="exam-gmat bouncy-slide-left" ng-show="isTOEFL">
						<table>
							<tr>
								<th><label for="">Reading <br>(0-68)</label></th>
								<th><label for="">Listening <br>(0-68)</label></th>
								<th><label for="">Speaking <br>(0-30)</label></th>
								<th><label for="">Writing <br>(0-30)</label></th>
								<th><label for="">Total <br>(0-90)</label></th>
							</tr>
							<tr>
								<td><input type="number" ng-model="toefl_reading"></td>
								<td><input type="number" ng-model="toefl_listening"></td>
								<td><input type="number" ng-model="toefl_speaking"></td>
								<td><input type="number" ng-model="toefl_writing"></td>
								<td><input type="number" ng-model="toefl_total"></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>-->
	</div><!--
	<div class="col-lg-4">
		<div class="exam-result sat bouncy-slide-left" ng-show="sat_read_write || sat_math || sat_total">
			<label for="">SAT </label>
			<table class="table table-bordered table-striped">
				<tr>
					<th>Reading/Writing</th>
					<th>Math</th>
					<th>Total</th>
				</tr>
				<tr>
					<td>{{sat_read_write}}</td>
					<td>{{sat_math}} </td>
					<td>{{sat_total}} </td>
				</tr>

			</table>
		</div>
		<div class="exam-result sat bouncy-slide-left" ng-show="gmat_total">
			<label for="">GMAT</label>
			<table class="table table-bordered table-striped">
				<tr>
					<th>Total</th>
				</tr>
				<tr>
					<td>{{gmat_total}}</td>
				</tr>

			</table>
		</div>
		<div class="exam-result sat bouncy-slide-left" ng-show="gre_verbal || gre_quant || gre_analytical">
			<label for="">GRE</label>
			<table class="table table-bordered table-striped">
				<tr>
					<th>Verbal </th>
					<th>Quantitative</th>
					<th>Analytical</th>
				</tr>
				<tr>
					<td>{{gre_verbal}}</td>
					<td>{{gre_quant}}</td>
					<td>{{gre_analytical}}</td>
				</tr>

			</table>
		</div>
		<div class="exam-result sat bouncy-slide-left" ng-show="ielts_reading || ielts_listening || ielts_speaking || ielts_writing || ielts_total">
			<label for="">IELTS</label>
			<table class="table table-bordered table-striped">
				<tr>
					<th>Reading </th>
					<th>Listenign</th>
					<th>Speaking</th>
					<th>Writing</th>
					<th>Total</th>
				</tr>
				<tr>
					<td>{{ielts_reading}}</td>
					<td>{{ielts_listening}}</td>
					<td>{{ielts_speaking}}</td>
					<td>{{ielts_writing}}</td>
					<td>{{ielts_total}}</td>
				</tr>

			</table>
		</div>
		<div class="exam-result sat bouncy-slide-left" ng-show="toefl_reading || toefl_listening || toefl_speaking || toefl_writing || toefl_total">
			<label for="">TOEFL</label>
			<table class="table table-bordered table-striped">
				<tr>
					<th>Reading </th>
					<th>Listening</th>
					<th>Speaking</th>
					<th>Writing</th>
					<th>Total</th>
				</tr>
				<tr>
					<td>{{toefl_reading}}</td>
					<td>{{toefl_listening}}</td>
					<td>{{toefl_speaking}}</td>
					<td>{{toefl_writing}}</td>
					<td>{{toefl_total}}</td>
				</tr>

			</table>
		</div>

	</div>-->
</div>
</form>